<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div style="width:250px; height:250px; margin:0 auto; display:flex; align-items:center; justify-content:center; background:#000; border-radius:50%; overflow:hidden;">
          <img src="img/profile.png" alt="profile-pic" style="max-width:100%; max-height:100%; object-fit:cover;">
        </div>
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
