<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <h2>{{ post.title }}</h2>
            <hr class="star-primary">

            {% if post.images %}
            <!-- 🔥 CAROUSEL START -->
            <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel" style="position: relative; width: 100%;">
              <div class="carousel-inner">
                {% for media in post.images %}
                <div class="item {% if forloop.first %}active{% endif %}">
                  <div class="media-wrapper" style="display:flex; align-items:center; justify-content:center; background:#000; height:400px; width:100%;">
                    {% if media.type == "image" %}
                    <img src="img/portfolio/{{ media.src }}" style="max-height:100%; max-width:100%; object-fit:contain;">
                    {% elsif media.type == "video" %}
                    <video controls style="max-height:100%; max-width:100%;">
                      <source src="img/portfolio/{{ media.src }}" type="video/mp4">
                    </video>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            
              <!-- Controls positioned on the sides -->
              <a class="carousel-control-left" href="#carousel-{{ post.modal-id }}" data-slide="prev">
                <i class="fa fa-chevron-left fa-2x" style="color:#fff;"></i>
              </a>
              <a class="carousel-control-right" href="#carousel-{{ post.modal-id }}" data-slide="next">
                <i class="fa fa-chevron-right fa-2x" style="color:#fff;"></i>
              </a>
            
            </div>
            <!-- 🔥 CAROUSEL END -->

            {% else %}
            <!-- Fallback (old single image) -->
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}

            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}

              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}

              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
